/*
    Footer
*/
*{
    padding:0px;
    margin: 0px;
}
body{
    margin: 0px;
    padding:0px;

}
.footer{
    background-color: #350606;
    padding: 7px;
    margin:0;
}
.subtitle{
    font-size: 35px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: #f5f5f5;
    font-weight: bold;   
}
.content{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 15%;
    margin-right: 10%;
}
.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 40%
}
.container form{
    width: 50%;
}
.container form div{
    margin: 2px;
}
.map{
    width: 60%    
}
.container button{
    float: right;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:5px;
}
.social a {
    margin: 5px;
}
.fa {
    padding: 20px;
    font-size: 100px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    background: #222;
    color: #f5f5f5;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #f5f5f5;
    color: #222;
  }
  
  /* Twitter */
  .fa-instagram {
    background: #f5f5f5;
    color: #222;
  }
  .info{
    text-align: center;
    font-size: 19px;
    color: #f5f5f5;
    font-weight: bold;
}
